/* BASE */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: blanchedalmond;
    background: url('../imgs/bg.jpg')no-repeat center center fixed;
    background-size: cover;
}

button {
    outline: 0;
    cursor: pointer;
    background-color: #fff;
    border: 0;
}

/* NAV */

.nav-container {
    background-color: #fff;
    border-bottom: 1px solid #000;
    box-shadow: 2px 2px 5px 0px black;
    margin-bottom: 5rem;
}

.logo span {
    color: rgb(197, 135, 87);
    text-shadow: 1px 0px 2px #e9a11e;
}

.logo {
    color: rgb(199, 183, 183);
    font-family: 'MuseoModerno', cursive;
    margin: 0;
    padding: 0;
    cursor: default;
}

.main-nav button, .main-nav input {
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    outline: none;
    border: 1px #c5855a solid;
}

.my-location button {
    margin-inline-start: 0.3rem;
}

.search-btn {
    text-transform: uppercase;
}

.main-nav button {
    border: 1px solid rgb(197, 134, 91);
    transition: .3s;
}

.main-nav button:hover {
    color: white;
    font-weight: bold;
    background-color: rgb(208, 175, 146);
}

/* MAP */

.map {
    height: 500px;
    width: 600px;
}

/* FORECAST SECTION */

.forecast-container {
    background-color: #f6ffff;
    border: 1px solid rgb(197, 134, 91);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: inset 0px 1px 5px 1px black;
    font-family: tahoma;
    width: 28%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.forecast-container p:first-of-type {
    font-size: 1.5rem;
}

.forecast-container img.flag {
    height: 40px;
}

.forecast-container img.logo {
    height: 75px;
}

.forecast-container h3 {
    text-decoration: underline;
    font-size: 1.5rem;
}

/* HELPERS */

.flex {
    display: flex;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.col {
    flex-direction: column;
}

.flex.wrap {
    flex-wrap: wrap;
}

/* LAYOUT */

.container {
    max-width: 1060px;
    margin: 0 auto;
}

.save-location {
    border-radius: 100px;
    height: 50px;
    border: 1px solid rgb(197, 134, 91);
    transition: background-color .3s;
    font-family: 'Montserrat', sans-serif;
}

.save-location:hover {
    background-color: rgb(208, 175, 146);
    color: white;
}

.location-display {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    padding: 1rem;
    box-shadow: 0px 0px 15px 3px black;
    background-color: #ffffff40;
}

/* FOOTER */

.main-content {
    padding-bottom: 5rem;
}

.main-footer {
    background-color: rgba(239, 239, 239, 0.71);
    border-top: 1px solid black;
    bottom: 0;
    width: 100%;
    height: 5rem;
    position: absolute;
}

.footer-container {
    justify-content: space-around;
}

.footer-container h2 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 1px -1px 8px #1e1f20;
    cursor: default;
    text-transform: capitalize;
    margin-inline-end: 3rem;
}

.footer-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    margin: 0 10px;
    padding: 10px;
    width: 2rem;
    height: 2rem;
    transition: .3s;
    align-self: center;
}

.footer-container a.fb {
    background-color: #0d8af0;
    color: white;
}

.footer-container a.gh {
    background-color: black;
    color: white;
}

.footer-container a:hover {
    transform: scale(1.2);
    transition: transform .3s;
}

/* RESPONSIVENESS  */

@media (max-width: 1080px) {
    .container {
        max-width: 880px;
    }
}

@media (max-width: 900px) {
    .container {
        max-width: 720px;
    }
    .map {
        height: 350px;
        width: 450px;
    }
    .forecast-container {
        font-size: .8rem;
    }
    .forecast-container p:first-of-type {
        font-size: 1.1rem;
    }
    .forecast-container img.flag {
        height: 20px;
    }
    .forecast-container img.logo {
        height: 65px;
    }
}

@media (max-width: 760px) {
    .container {
        max-width: 620px;
    }
    .map {
        height: 350px;
        width: 425px;
    }
    .forecast-container {
        font-size: .65rem;
    }
    .forecast-container p:first-of-type {
        font-size: 1rem;
    }
    .forecast-container img.flag {
        height: 20px;
    }
    .forecast-container img.logo {
        height: 45px;
    }
    .location-display {
        font-size: 1.2rem;
    }
    .main-footer {
        font-size: .8rem;
    }
    .nav-container {
        margin-bottom: 3.5rem;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 480px;
    }
    .map {
        height: 250px;
        width: 300px;
    }
    .main-nav button, .main-nav input {
        padding: .5rem;
    }
    .main-nav input {
        width: 9rem;
    }
    .main-footer {
        font-size: .55rem;
    }
    .forecast-container h3 {
        font-size: 1.1rem;
    }
    .nav-container {

        margin-bottom: 3rem;
    }
}

@media (max-width: 520px) {
    .container {
        max-width: 380px;
    }
    .map {
        height: 250px;
        width: 100%;
        margin-top: 1rem;
    }
    .main-nav button, .main-nav input {
        padding: .3rem;
        font-size: .5rem;
    }
    .main-nav input {
        width: 9rem;
    }
    .main-footer {
        font-size: .45rem;
    }
    .forecast-container h3 {
        font-size: .8rem;
    }
    .grand {
        flex-direction: column;
    }

    .forecast-container {
        order: -1;
        padding: .5rem;
        border-radius: 20px;
        width: 100%;
        height: 200px;
    }
    .forecast-container p:first-of-type {
        font-size: .8rem;
    }
    .forecast-container img.flag {
        height: 10px;
    }
    .footer-container a {
        font-size: 1rem;
        margin: 0 5px;
        width: 1rem;
        height: 1rem;
    }
    .nav-container {

        margin-bottom: 2rem;
    }

}