/* BASE */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: blanchedalmond;
}

button {
    outline: 0;
    cursor: pointer;
    background-color: #fff;
}

/* NAV */

.logo span {
    color: red;
}

.logo {
    color: rgb(199, 183, 183);
    font-family: Arial, Helvetica, sans-serif;
}

.my-location button {
    margin-inline-start: 0.3rem;
}

/* FORECAST SECTION */

.forecast-container {
    background-color: #fff9c8;
    border: 2px solid black;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 2px black;
    font-family: tahoma;
    width: 28%;
    text-align: center; 
}

.forecast-container p:first-of-type {
    font-size: 1.5rem;
}

.forecast-container img.flag {
    height: 40px;
}

.forecast-container img.logo {
    height: 75px;
}

/* HELPERS */

.flex {
    display: flex;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

/* LAYOUT */

.container {
    max-width: 600px;
    margin: 0 auto;
}