/* BASE */

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: blanchedalmond;
}

button {
    outline: 0;
    cursor: pointer;
    background-color: #fff;
}

/* NAV */

.logo span{
    color: red;
}
.logo {
    color: rgb(199, 183, 183);
    font-family: Arial, Helvetica, sans-serif;
}

.my-location button {
    margin-inline-start: 0.3rem;
}


/* HELPERS */

.flex {
    display: flex;
}

.flex.justify-between {
    justify-content: space-between;
}
.flex.align-center{
    align-items: center;
}

/* LAYOUT */

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}

